@charset "utf-8";
body {
	width: 94%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin-left: 3%;
	margin-right: 3%;
}

#wrapper {
	width: 90%;
	margin: 2%;
}
header {
	margin: 3%;
	overflow: auto;
}

header #logo {
	width: 40%;
	float: left;
}
header nav {
	width: 6%;
	float: right;
	margin-right: 5%;
	text-align: left;
}
header nav a:link  {
	font-family: playfair-display;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	font-size: 26px;
	text-align: left;
	text-shadow: 0px 0px #000000;
	color: #000000;
	text-decoration: none;
}
header nav a:visited  {
	text-shadow: 0px 0px #000000;
	color: #000000;
	text-decoration: none;
}

header nav a:hover  {
	color: #3A3A3A;
}
#content h1 {
	color: #434343;
	font-variant: normal;
	font-weight: bolder;
	font-size: xx-large;
}
#content #text {
	float: left;
	width: 75%;
	background-color: undefined;
}


#content #sidebar {
	width: 22%;
	float: right;
	background-color: #E5E5E5;
	font-family: playfair-display;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 5%;

}

section #sidebar #sidetitle {
	font-variant: small-caps;
	padding-left: 2%;
	width: 100%;
	font-size: xx-large;
}
section #sidebar #sidelinks {
	font-style: normal;
	border: 0px;
	/* [disabled]clear: left; */
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 0%;
	padding-bottom: 0%;
	font-size: medium;
	margin-bottom: 5%;
	font-weight: normal;
}
#sidebar #sidelinks ul {
}
div #sidelinks li {
	margin-bottom: 4px;
	list-style-position: inside;
	list-style-image: url(../images/line%20vert.png);
}



footer {
	float: left;
	margin-bottom: 4px;
	list-style-position: inside;
	list-style-image: url(../images/line%20vert.png);
}



@media (max-width: 720px){
#wrapper header nav {
	float: none;
	clear: right;
	overflow-x: no-display;

}

}
